@import "../../_globalColor";

.education-heading {
  font-size: 70px; /* Increased font size */
  font-weight: 400;
}

.education-section {
  display: flex;
  flex-direction: column;
  width: 95%; /* Increased width */
  padding: 30px 0px; /* Increased padding */
  margin: 0px auto;
  margin-top: 2rem;
}

.education-section > * {
  flex: 1;
  margin-bottom: 40px; /* Increased margin-bottom */
}

.education-card-container {
  display: flex;
  flex-direction: column;
  padding-top: 30px; /* Increased padding-top */
}

@media (max-width: 1380px) {
  .education-card-container {
    padding-top: 10px;
  }
  .education-heading {
    font-size: 50px; /* Adjusted font size for smaller screens */
  }
  .education-text-subtitle {
    font-size: 20px; /* Adjusted font size for smaller screens */
    text-align: center;
  }
}

@media (max-width: 768px) {
  .education-card-container {
    padding-top: 10px;
  }
  .education-heading {
    font-size: 40px; /* Adjusted font size for smallest screens */
    text-align: center;
  }
  .education-text-subtitle {
    font-size: 18px; /* Adjusted font size for smallest screens */
  }
}
